body {
    background-image: url("bgi.jpg");
}
p{
    color: aqua;
}
h1{
    color:crimson
}
h2{
    color:antiquewhite
}
a{
    color:deepskyblue;
}
#base{
	 color:#accb73
}
td{
	 color:#00fc78
}
th{
	 color:#00ffaa
}